.border-bottom {
  border-bottom: solid black 2px;
}
.border-right {
    border-right: solid black 2px;
}
.col-md-4 {
  padding: 75px;
  text-align: center;
  font-size: 50px;
}
.margin {
  margin-bottom: 50px;
}

.hide-me {
  display:none;
}
